section#main
	section#holiday-magic
		#flashContent
			p To view this page ensure that Adobe Flash Player version 11.1.0 or greater is installed. 
			script(type='text/javascript') 
				var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
				document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
		
		noscript
			#flash(style='position: absolute;')
				object#holiday_tree(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='100%', height='100%')
					param(name='movie', value='holiday_tree.swf')
					param(name='quality', value='high')
					param(name='bgcolor', value='#ffffff')
					param(name='allowScriptAccess', value='sameDomain')
					param(name='allowFullScreen', value='true')
				//if !IE
				object(type='application/x-shockwave-flash', data='holiday_tree.swf', width='100%', height='100%')
					param(name='quality', value='high')
					param(name='bgcolor', value='#ffffff')
					param(name='allowScriptAccess', value='sameDomain')
					param(name='allowFullScreen', value='true')
				// <![endif]
				//if gte IE 6
				p
				| Either scripts and active content are not permitted to run or Adobe Flash Player version
				| 11.1.0 or greater is not installed.
				// <![endif]
				a(href='http://www.adobe.com/go/getflashplayer')
					img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash Player')
				//if !IE
				// <![endif]
				// <! Well, Well, Well, look whos snooping. !>
		
		canvas#video(width="768px", height= "576px")    
	nav
		#hue
		#alerts.btn-group(data-toggle='buttons-radio')
			button.btn(name='alert-type', value='1') Fade
			button.btn(name='alert-type', value='0') Blink
		#speed.btn-group(data-toggle='buttons-radio')
			button.btn.dropdown-toggle(data-toggle='dropdown') Speed &nbsp;
				span.caret 
			ul.dropdown-menu#freq
				li(value='0').disabled
					a(href="#", value='0') &nbsp; Slow
				li(value='4').disabled
					a(href="#", value='4') &nbsp; Medium
				li(value='9').disabled
					a(href="#", value='9') &nbsp; Fast
		#length.btn-group(data-toggle='buttons-radio')
			button.btn.dropdown-toggle(data-toggle='dropdown') Length &nbsp;
				span.caret 
			ul.dropdown-menu#dur
				li(value='1').disabled 
					a(href="#", value='1') &nbsp; Minimum
				li(value='332').disabled
					a(href="#", value='332') &nbsp; Median
				li(value='664').disabled
					a(href="#",value='664') &nbsp; Maximum


			

//local scripts needed
script(type='text/javascript',src='http://code.jquery.com/jquery-1.8.3.min.js')
script(type='text/javascript', src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')

script(type='text/javascript', src='/js/controllers/holidayController.js')
script(type='text/javascript', src='/js/views/holiday.js')
script(type='text/javascript', src='/socket.io/socket.io.js')

//views
script(type='text/javascript', src='/vendor/bootstrap-modal_222.js')
script(type='text/javascript', src='/vendor/bootstrap-transition.js')
script(type='text/javascript', src='/vendor/bootstrap-button.js')
script(type='text/javascript', src='/vendor/bootstrap-modalmanager.js')
script(type='text/javascript', src='/vendor/bootstrap-modal.js')
script(type='text/javascript', src="/vendor/bootstrap-collapse.js")
script(type='text/javascript', src='/vendor/bootstrap-dropdown.js')
