
h1 Welcome to the holiday Page

#flashContent
	p To view this page ensure that Adobe Flash Player version 11.1.0 or greater is installed. 
	script(type='text/javascript') 
		var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
		document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );

noscript
	#flash(style='position: absolute;')
		object#holiday_tree(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='100%', height='100%')
			param(name='movie', value='holiday_tree.swf')
			param(name='quality', value='high')
			param(name='bgcolor', value='#ffffff')
			param(name='allowScriptAccess', value='sameDomain')
			param(name='allowFullScreen', value='true')
		//if !IE
		object(type='application/x-shockwave-flash', data='holiday_tree.swf', width='100%', height='100%')
			param(name='quality', value='high')
			param(name='bgcolor', value='#ffffff')
			param(name='allowScriptAccess', value='sameDomain')
			param(name='allowFullScreen', value='true')
		// <![endif]
		//if gte IE 6
		p
		| Either scripts and active content are not permitted to run or Adobe Flash Player version
		| 11.1.0 or greater is not installed.
		// <![endif]
		a(href='http://www.adobe.com/go/getflashplayer')
			img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash Player')
		//if !IE
		// <![endif]
		
#color-picker
canvas#video(width='700',height='480',style='position:absolute; left:0; border:2px solid red;')     
//local scripts needed

//script(type='text/javascript', src='/js/views/myvisualight.js')
script(type='text/javascript',src='http://code.jquery.com/jquery-1.8.3.min.js')
script(type='text/javascript', src='/vendor/farbtastic.js')

script(type='text/javascript', src='/js/controllers/visualightController.js')
script(type='text/javascript', src='/js/views/holiday.js')
//script(type='text/javascript', src='/js/vendor/history/history.js')
script(type='text/javascript', src='/socket.io/socket.io.js')
