section#main
	section#header
		#text
			span(class="bold") Take control of our office tree!
			span(class="normal") Click on the strands of lights to change their color in real time.
		img(src='/img/header.png')

	section#holiday-mobile
		p.mobile-text We're sorry, the bleeeeeding-edge technology involved in this site uses too many vowels to work on mobile. Go grab your computer and come right back (or visit <a href="http://www.incrediblemachines.net">our mobile site</a> to check out our other work)!
		img(src='/img/tag.jpg', class='mobile-tag')

	section#holiday-magic
		#flashContent
			p To view this page ensure that Adobe Flash Player version 11.1.0 or greater is installed. 
			script(type='text/javascript') 
				var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
				document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>" );
		
		noscript
			#flash(style='position: absolute;')
				object#holiday_tree(classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='100%', height='100%')
					param(name='movie', value='holiday_tree.swf')
					param(name='quality', value='high')
					param(name='bgcolor', value='#ffffff')
					param(name='allowScriptAccess', value='sameDomain')
					param(name='allowFullScreen', value='true')
				//if !IE
				object(type='application/x-shockwave-flash', data='holiday_tree.swf', width='100%', height='100%')
					param(name='quality', value='high')
					param(name='bgcolor', value='#ffffff')
					param(name='allowScriptAccess', value='sameDomain')
					param(name='allowFullScreen', value='true')
				// <![endif]
				//if gte IE 6
				p
				| Either scripts and active content are not permitted to run or Adobe Flash Player version
				| 11.1.0 or greater is not installed.
				// <![endif]
				a(href='http://www.adobe.com/go/getflashplayer')
					img(src='http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif', alt='Get Adobe Flash Player')
				//if !IE
				// <![endif]
				// <! Well, Well, Well, look whos snooping. !>
		
		canvas#video(width="768px", height= "576px")
		.alert.alert-danger.alert-dismissable Select a light to change first!
			button(type="button", class="close", aria-hidden="true") &times;

	nav
		.controls
			#hacker-label Controls:
			#hue
			#alerts.btn-group
				button.btn(name='alert-type', value='1') Blink
			#speed.btn-group(data-toggle='buttons-radio')
				button.btn.dropdown-toggle(data-toggle='dropdown') How fast? &nbsp;
					span.caret 
				ul.dropdown-menu#freq
					li(value='0').disabled
						a(href="#", value='0') &nbsp; Slow
					li(value='4').disabled
						a(href="#", value='4') &nbsp; Medium
					li(value='9').disabled
						a(href="#", value='9') &nbsp; Fast
		
			div#name
				input(type="text", class="name", placeholder="Who are you? (optional)")

	#body-text
		p As a special holiday treat, we decided to gift the Internet real-time control of our office tree.  We have been decorating with Visualight, our in-house WiFi-enabled lighting platform. 
		p Have fun hacking our Treeeee<span class="super">TMMMMM</span> and keeping an eye on our growing army of MakerBot elves as they print ornaments and Visualight enclosures. 
		p(class='salutation') Happy Holidays!

	#signature
		img(src='/img/signatures.jpg')

	#footer
		a(href='http://www.incrediblemachines.net', target="_blank"): img(src='/img/footer_im.jpg')
		.links
			a(href='http://visualight.org', target="_blank"): img(src='/img/vis_logo.jpg', class='vis-logo')
			a(href="https://twitter.com/share", class="twitter-share-button", data-text="I hacked the Incredible Machines Christmas Tree and you can too!", data-via="IncMachines", data-hashtags="treeeee") Tweet
			div(class="fb-share-button", data-href="http://treeeee.com", data-type="button_count")
			.copyright © Incredible Machines, 2013


			

//local scripts needed
script(type='text/javascript',src='http://code.jquery.com/jquery-1.8.3.min.js')
script(type='text/javascript', src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')

script(type='text/javascript', src='/js/controllers/holidayController.js')
script(type='text/javascript', src='/js/views/holiday.js')
script(type='text/javascript', src='/socket.io/socket.io.js')

//views
script(type='text/javascript', src='/vendor/bootstrap-modal_222.js')
script(type='text/javascript', src='/vendor/bootstrap-transition.js')
script(type='text/javascript', src='/vendor/bootstrap-button.js')
script(type='text/javascript', src='/vendor/bootstrap-modalmanager.js')
script(type='text/javascript', src='/vendor/bootstrap-modal.js')
script(type='text/javascript', src="/vendor/bootstrap-collapse.js")
script(type='text/javascript', src='/vendor/bootstrap-dropdown.js')
script(type='text/javascript', src='/vendor/bootstrap-alert.js')