section#main{
	position:relative;
	width:960px;
	height: 100%;
	margin: 0 auto;
}
#holiday-magic{
	position: relative;
	width:768px;
	height:576px;
	margin: 0 auto;
	display:block;
}
object {
	position: absolute;
	width:768px;
	height:576px;
	z-index: -9999;
}
nav{
	display:block;
	width: 708px;
	margin: 0 auto;
	background-color: #e9e9e9;
	padding: 5px 30px;
}
div#alerts, div#speed, div#length, div#hue{
	display: inline-block;
	margin: 5px 15px;
	
}
canvas#video{
	position:absolute;
 	z-index: 9999;

}

#hue.ui-slider{
	width:220px;
	height:26px;
	background-image:url('/img/hslbackground.png');
}
.ui-slider .ui-slider-handle{
	width: 7px !important; 
	height: 30px !important;
}