body{
	background: url('/img/tile.jpg') repeat;
}

section#main{
	position:relative;
	width:870px;
	height: 1600px;
	margin: 0 auto;
	background-color:white;
	z-index:0;
}
#holiday-magic{
	position: relative;
	width:768px;
	height:576px;
	margin: 0 auto;
	display:block;
}

#header{
	position:absolute;
	z-index:110;
}

#text{
	position:absolute;
	width:290px;
	font-family:"museo-slab", "Museo Slab", courier, serif;
	font-weight:300;
	font-size:16px;
	line-height:22px;
	top:100px;
	left:480px;
}

.bold{
	font-weight:700;
}

.normal{
	float:left;
}

object {
	position: absolute;
	top:260px;
	width:768px;
	height:576px;
	z-index: 1;
}

nav{
	display:block;
	position:absolute;
	top:837px;
	left:51px;
	width: 768px;
	height:60px;
	background-color: black;
	padding: 5px 0;
}

#hacker-label{
	display:inline-block;
	color:white;
	font-size:22px;
	text-transform:uppercase;
	font-family:"proxima-nova-sc-osf-ext-cond", "Proxima Nova Condensed", "Arial narrow", arial, sans-serif;
	vertical-align:top;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
}

div#alerts, div#speed, div#length, div#hue{
	display: inline-block;
	margin: 5px 8px;
	margin-top:15px;
	
}
canvas#video{
	position:absolute;
 	z-index: 100;
 	top:260px;

}

#hue.ui-slider{
	width:220px;
	height:26px;
	background-image:url('/img/hslbackground.png');
}

.ui-slider .ui-slider-handle{
	width: 7px !important; 
	height: 30px !important;
}

#signature {
	position:absolute;
	top:910px;
	width:760px;
	left:55px;
}

#footer{
	position:absolute;
	top:1540px;
	background:black;
	height:160px;
}

.links{
	margin-top:20px;
	float:left;
}

.vis-logo{
	padding-right:208px;
	float:left;
}

.copyright{
	color:#666;
	display:inline;
	font-size:10px;
	padding-left:180px;
}

.twitter-share-button{
	float:left;
	padding-top:0;
}


